<h2 class="center mt-5 mb-2">Reads</h2>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Change</th>
        <th>xFiles</th>
    </tr>
    </thead>
    <tbody>
    <% readsFolders.sort(function (a, b) {
        return b.size - a.size
    }).map((rf)=>{ %>
    <tr>
        <td><a href="/reads/<%- rf.name %>"><%- rf.name %></a></td>
        <td><%- rf.sizeHuman %></td>
        <td>
            <%- rf.sizeDifferenceHuman %>
        </td>
        <td>
            <%- rf.xfiles ? rf.xfiles.length : 'n/a' %>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>